.footer-section{
    width: 100%;
    margin: 2rem;

    .footer-ul {
        display: flex;
        align-content: flex-end;
        width: 100%;
        margin: 3rem;

        .svgEmail{
            width: 1rem;
            cursor: pointer;
            margin: 0 2rem 0 0;
        }

        .svgGitHub{
            width: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
            margin: 0 2rem 0 0;
        }

        .svgLinkedIn{
            width: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
        }
    }
}