$font-color-1: orange;
$font-color-hover: rgb(255, 190, 70);
$button-color-1: orange;
$button-color-hover: rgb(255, 190, 70);
$background-color: rgb(186, 186, 186);
$font-family-1: Arial, sans-serif;
$font-family-2: Helvetica;
$font-size-1: 1rem;
$font-size-2: 1.5rem;
$font-size-3: 2rem;

.nav-section{
    width: 100%;

    .nav-ul{
        max-width: 100%;
        margin: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: 3rem;
            height: 3rem;
            margin: 3rem;
        }

        .nav-links{
            display: flex;
            justify-content: flex-end;
            
            a{
                margin: 3rem;
                text-decoration: none;
                font-family: $font-family-1;
                color: $font-color-1;
            }

            a:hover{
                color: $font-color-hover;
                transition: .5s;
            }
        }
    }
}